@charset 'UTF-8';.slick-loading .slick-list{background:#fff url(./ajax-loader.gif) center center no-repeat}@font-face{font-family:slick;font-weight:400;font-style:normal;src:url(./fonts/slick.eot);src:url(./fonts/slick.eot?#iefix) format('embedded-opentype'),url(./fonts/slick.woff) format('woff'),url(./fonts/slick.ttf) format('truetype'),url(./fonts/slick.svg#slick) format('svg')}@font-face{font-family:fontawesome;font-weight:400;font-style:normal;src:url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0);src:url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0) format("woff2"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg")}.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:0 0}.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:0 0}.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}.slick-prev:before,.slick-next:before{font-family:fontawesome!important;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-40px}[dir=rtl] .slick-prev{right:-40px;left:auto}.slick-prev:before{content:'\f053'!important;opacity:.5}[dir=rtl] .slick-prev:before{content:'\f054'!important;opacity:.5}.slick-next{right:-40px}[dir=rtl] .slick-next{right:auto;left:-40px}.slick-next:before{content:'\f054'!important;opacity:.5}[dir=rtl] .slick-next:before{content:'\f053'!important;opacity:.5}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:0 0}.slick-dots li button:hover,.slick-dots li button:focus{outline:none}.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1;color:#d8a949}.slick-dots li button:before{font-family:fontawesome!important;font-size:20px;line-height:20px;position:absolute;top:0;left:0;content:'\f068';text-align:center;opacity:.25;color:#080e20;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:#d8a949}

.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

.bg-primary{
    background-color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
}

.navbar-brand img {
    width: 250px;
}

.heroImageHomepage{
    background: url(../../../themes/salesacademy/img/heroimage.jpg);
    background-position-y: -350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroImgeLayer{
    background: #ffffff96;
}
 
.text-padd h1{
    font-size: 62px;
}

.text-padd{
    padding: 100px 0;
}

.heroHomeBTN{
    background: transparent;
    border: 1px solid #333;
    color: #333;
}

.statistics h3 {
    font-size: 70px;
    font-weight: 700;
    color: #e4dc00;
    margin-bottom: 0;
}

.statistics p {
    font-size: 24px;
    color: #3d4045;
    font-weight: 600;
}

.underlogowelcome h3 {
    font-size: 26px;
    font-weight: 300;
}

.twoHalfImages h4{
    border-bottom: 5px solid #e4dc00;
    text-align: center;
}

.twoHalfsButtons:hover{
    background: transparent linear-gradient(90deg,#e4dc00 0,#e4dc00 100%) 0 0 no-repeat padding-box;
}

.bookBTN:hover{
    background: transparent linear-gradient(90deg,#e4dc00 0,#e4dc00 100%) 0 0 no-repeat padding-box;
}
.bookBTN{
    margin-top: 40px;
    padding: 15px 0;
    background: transparent linear-gradient(90deg,#e4dc00 0,#c1bc29 100%) 0 0 no-repeat padding-box;
    border-color: transparent;
    width: 100%;
}

.twoHalfsButtons{
    width: 100%;
    margin-top: 40px; 
    padding: 15px 0;
    background: transparent linear-gradient(90deg,#e4dc00 0,#c1bc29 100%) 0 0 no-repeat padding-box;
    border-color: transparent;
}

.margin_welocme{
    margin-top: 5px;
    margin-right: 20px;
}
 
.cta-book h2 {
    color: #e4dc00;
    font-size: 40px;
    text-align: right;
    text-transform: uppercase;
}

.green {
    border-radius: 50px;
    color: #fff;
    background: transparent linear-gradient(90deg,#e4dc00 0,#c1bc29 100%) 0 0 no-repeat padding-box;
}
.cards-columns .card .btn, .cards-columns .card .wpcf7 input[type=submit], .wpcf7 .cards-columns .card input[type=submit] {
    width: 150px;
    height: 50px;
    background: rgba(255,255,255,.7);
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.cards-columns .card input {
    height: 50px!important;
}
.cards-columns .card h5 {
    font-size: 35px;
    font-weight: 700;
    height: 140px;
}

.green .card-body{
    padding: 40px 30px;
}

.slick-dots li button:before {
    font-family: fontawesome!important;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '\f068';
    text-align: center;
    opacity: .25;
    color: #080e20;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.testimonial-box {
    max-width: 830px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 6rem 1rem;
    margin-top: 7rem;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.2);
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.slick-dots li button:before {
    font-family: fontawesome!important;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '\f068';
    text-align: center;
    opacity: .25;
    color: #080e20;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.testimonial-box .name p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e4dc00;
}

.testimonial-box img {
    max-width: 180px;
    margin: 0 auto;
    display: block;
    border-radius: 200px;
    margin-top: 0;
    position: absolute;
    top: -96px;
}

.testimonial-box .testimonial-desc {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    line-height: 24px;
    margin-top: 4rem;
}

.testi_head{
    color: #e4dc00;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 70px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #724747;
} 

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(123, 123, 123);
}
.slick-next:before {
    opacity: .5;
    content: '\f054' !important;
}
.slick-next:before, .slick-prev:before{
    font-family: FontAwesome!important;
    font-size: 55px!important;
    color: #000!important;
}

.slick-initialized .slick-slide{
    margin-bottom: 30px;
}

.marginTopojni{
    margin-top: 120px;
}

.bg-color-row{
    background: #f0f0f0;
}

.wraperText{
    width: 70%;
    margin: 0 auto;
}

.wraperText p {
    font-weight: 600;
    font-size: 17px;
}

.footerLogo{
    width: 150px;
}

#wrapper-footer{
    margin-top: 100px;
    border-top: 1px solid #f0f0f0;
}

.socialIcons{
    list-style-type: none;
    padding: 0;
}

.socialIcons li{
    margin-left: 11px;
    font-size: 20px;
    display: inline;
}

.socialIcons li:first-child{
    margin-left: 0;
}

.socialIcons a{
    color: #000;
}